.card {
    margin-bottom: 20px;
}

.qc {
    position: sticky;
    top: 3;
    height: 100vh;
    background-color: aquamarine;
}

@media (max-width: 991px) {
    .qc {
        max-height: 100px;
        overflow: hidden;
        background-color: aquamarine;
    }
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}