.card {
    height: 420px;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}

.qc {
    position: sticky;
    top: 3;
    height: 100vh;
}

@media (max-width: 991px) {
    .qc {
        max-height: 100px;
        overflow: hidden;
    }
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}